body {
	background-image: url("file:///C:/Users/amree/Desktop/Bootcamp/Week4/week-4-game/assets/css/assets/images/dew-drops.jpg");
}


.btTxt_submit { 
	width: 100px; 
	} 

.btTxt_submit:hover { 
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc; 
} 