body {
	background-image: url("C:/Users/amree/Desktop/Bootcamp/Week4/week-4-game/assets/images/background.png");
}

.jumbotron {
	color: purple;
}

.btTxt_submit { 
	width: 100px; 
	} 

.btTxt_submit:hover { 
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc; 
} 


#pic {
 width: 250px;
 margin: 0 auto;
}
 
#pic img {
 margin: 20px;
 border: 5px solid #eee;
 -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
 -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
 box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
 -webkit-transition: all 0.5s ease-out;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
}
 
#pic img:hover {
 -webkit-transform: rotate(-7deg);
 -moz-transform: rotate(-7deg);
 -o-transform: rotate(-7deg);
}