body {
	background-image: url("C:/Users/amree/Desktop/Bootcamp/Week4/week-4-game/assets/images/background.png");
}

.container1 {
    width: 18%;
    background: pink;
    margin: 25px 0 0 25px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #fff;
    font-size: 30px;

}

.container {
	background: #D6046D;
	color: white;
	width: 50%;
}

.btTxt_submit {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}


.btTxt_submit { 
	width: 100px; 
	} 

.btTxt_submit:hover { 
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc; 
} 

.result1 {
	  width: 40%;
    background: #D490C8;
    margin: 25px 0 0 25px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #fff;
    font-size: 24px;
}
